<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.kgc.mapper.AuthorMapper" >
  <resultMap id="BaseResultMap" type="cn.kgc.pojo.Author" >
    <id column="aid" property="aid" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="aname" property="aname" jdbcType="VARCHAR" />
    <result column="qqacc" property="qqacc" jdbcType="VARCHAR" />
    <result column="aphone" property="aphone" jdbcType="VARCHAR" />
    <result column="apwd" property="apwd" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="realname" property="realname" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="postalcode" property="postalcode" jdbcType="VARCHAR" />
    <result column="aidiograph" property="aidiograph" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    aid, userid, aname, qqacc, aphone, apwd, email, realname, sex, number, address, postalcode, 
    aidiograph
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.kgc.pojo.AuthorExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from author
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from author
    where aid = #{aid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from author
    where aid = #{aid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.kgc.pojo.AuthorExample" >
    delete from author
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.kgc.pojo.Author" >
    insert into author (aid, userid, aname, 
      qqacc, aphone, apwd, 
      email, realname, sex, 
      number, address, postalcode, 
      aidiograph)
    values (#{aid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{aname,jdbcType=VARCHAR}, 
      #{qqacc,jdbcType=VARCHAR}, #{aphone,jdbcType=VARCHAR}, #{apwd,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, 
      #{number,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{postalcode,jdbcType=VARCHAR}, 
      #{aidiograph,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.kgc.pojo.Author" >
    insert into author
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        aid,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="aname != null" >
        aname,
      </if>
      <if test="qqacc != null" >
        qqacc,
      </if>
      <if test="aphone != null" >
        aphone,
      </if>
      <if test="apwd != null" >
        apwd,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="realname != null" >
        realname,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="postalcode != null" >
        postalcode,
      </if>
      <if test="aidiograph != null" >
        aidiograph,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="aname != null" >
        #{aname,jdbcType=VARCHAR},
      </if>
      <if test="qqacc != null" >
        #{qqacc,jdbcType=VARCHAR},
      </if>
      <if test="aphone != null" >
        #{aphone,jdbcType=VARCHAR},
      </if>
      <if test="apwd != null" >
        #{apwd,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="postalcode != null" >
        #{postalcode,jdbcType=VARCHAR},
      </if>
      <if test="aidiograph != null" >
        #{aidiograph,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.kgc.pojo.AuthorExample" resultType="java.lang.Integer" >
    select count(*) from author
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update author
    <set >
      <if test="record.aid != null" >
        aid = #{record.aid,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.aname != null" >
        aname = #{record.aname,jdbcType=VARCHAR},
      </if>
      <if test="record.qqacc != null" >
        qqacc = #{record.qqacc,jdbcType=VARCHAR},
      </if>
      <if test="record.aphone != null" >
        aphone = #{record.aphone,jdbcType=VARCHAR},
      </if>
      <if test="record.apwd != null" >
        apwd = #{record.apwd,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.realname != null" >
        realname = #{record.realname,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=INTEGER},
      </if>
      <if test="record.number != null" >
        number = #{record.number,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.postalcode != null" >
        postalcode = #{record.postalcode,jdbcType=VARCHAR},
      </if>
      <if test="record.aidiograph != null" >
        aidiograph = #{record.aidiograph,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update author
    set aid = #{record.aid,jdbcType=INTEGER},
      userid = #{record.userid,jdbcType=INTEGER},
      aname = #{record.aname,jdbcType=VARCHAR},
      qqacc = #{record.qqacc,jdbcType=VARCHAR},
      aphone = #{record.aphone,jdbcType=VARCHAR},
      apwd = #{record.apwd,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      realname = #{record.realname,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=INTEGER},
      number = #{record.number,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      postalcode = #{record.postalcode,jdbcType=VARCHAR},
      aidiograph = #{record.aidiograph,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.kgc.pojo.Author" >
    update author
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="aname != null" >
        aname = #{aname,jdbcType=VARCHAR},
      </if>
      <if test="qqacc != null" >
        qqacc = #{qqacc,jdbcType=VARCHAR},
      </if>
      <if test="aphone != null" >
        aphone = #{aphone,jdbcType=VARCHAR},
      </if>
      <if test="apwd != null" >
        apwd = #{apwd,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="postalcode != null" >
        postalcode = #{postalcode,jdbcType=VARCHAR},
      </if>
      <if test="aidiograph != null" >
        aidiograph = #{aidiograph,jdbcType=VARCHAR},
      </if>
    </set>
    where aid = #{aid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.kgc.pojo.Author" >
    update author
    set userid = #{userid,jdbcType=INTEGER},
      aname = #{aname,jdbcType=VARCHAR},
      qqacc = #{qqacc,jdbcType=VARCHAR},
      aphone = #{aphone,jdbcType=VARCHAR},
      apwd = #{apwd,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      realname = #{realname,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      number = #{number,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      postalcode = #{postalcode,jdbcType=VARCHAR},
      aidiograph = #{aidiograph,jdbcType=VARCHAR}
    where aid = #{aid,jdbcType=INTEGER}
  </update>
</mapper>